.paystack {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.paystack > button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: rgb(0, 172, 0);
  border: 1px solid #4fb55d;
  color: #f7f7f7;
  font-weight: 600;
  font-size: 16px;
  text-shadow: 0 -1px transparent;
  box-shadow: 1px 1px 5px 1px #ccc;
  padding: 15px;
  width: 200px;
  outline: none;
}

.paystack__spinner {
  display: none;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border: dotted 2px #ccc;
  border-top: dotted 2px white;
  border-right: dotted 2px white;
  border-radius: 100%;
  animation: spin 2s linear infinite;
}
