.App {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.app {
  margin: 0 10%;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.app__alert {
  right: 10px;
  pointer-events: none;
  position: fixed;
  width: fit-content;
  text-align: center;
  z-index: 1500;
}

::selection {
  background: rgb(0, 172, 0);
  color: white;
}

::-moz-selection {
  background: rgb(0, 172, 0);
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (min-width: 1501px) {
  .App {
    box-shadow: 5px 5px 10px 4px #ccc;
  }
}

@media only screen and (max-width: 1150px) {
  .app {
    margin: 0 2.5%;
  }
}

@media only screen and (max-width: 320px) {
  .app {
    margin: 0 0.5%;
  }
}

@media only screen and (max-width: 250px) {
  .App {
    min-width: 250px;
  }
}
