* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  max-width: 1500px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 250px) {
  body {
    margin: 0;
  }
}

@media only screen and (max-width: 249px) {
  body,
  html {
    overflow: auto;
  }
}
