.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  display: flex;
  margin-top: 10%;
  margin-bottom: 30px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  color: #011f09;
  font-size: 34px;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}

.login__logoImg {
  margin: auto;
  height: 25px;
}

.login__container {
  background-color: white;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  margin-bottom: 10px;
}

.login__container > h2 {
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
  text-align: center;
}

.login__container > form > h5 {
  margin-bottom: 15px;
  text-align: justify;
  color: rgb(85, 85, 85);
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 95%;
  outline: none;
  border: none;
  box-shadow: 1px 1px 5px 1px #ccc;
  padding: 5px;
  padding-left: 10px;
}

.login__container > .login__loading > p {
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.login__button {
  background: linear-gradient(to bottom, #00d61d 0, #009914 100%);
  border-radius: 2px;
  width: 100%;
  height: 35px;
  margin-top: 10px;
  border: 1px solid #4fb55d;
  box-shadow: 1px 1px 5px 1px #ccc;
  color: #f7f7f7;
  font-weight: 700;
  text-shadow: 0 -1px transparent;
  outline: none;
}

.login__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media only screen and (min-width: 20px) and (max-width: 360px) {
  .login__container {
    background-color: white;
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 10px;
  }
}
